<div data-id=<%= numFriends %>>
	<br>
	<input type="text" class="guest-name" name="bill[guests][][name]" placeholder="Enter Friend Name"> paid <input type="number" name="bill[guests][][amount_paid]" class="amount-paid" placeholder="Amount">. 
	<br>
	Should have paid <input type="number" name="bill[guests][][amount_should_have_paid]" class="amount-should-have-paid" placeholder="Amount">
	<button class="btn btn-warning remove-friend" data-id=<%= numFriends %>>Remove This Friend</button>
	<br>
</div>
