<input type="hidden" name="bill[guests][][name]" value="<%= Iou.currentUserId %>"><span class="label label-success"> You </span>  paid <input type="number" name="bill[guests][][amount_paid]" class="amount-paid" placeholder="Amount">. 
<br>
You should have paid <input type="number" name="bill[guests][][amount_should_have_paid]" class="amount-should-have-paid" placeholder="Amount Should Have Paid">.
<br>
<br>
<input type="text" name="bill[guests][][name]" class="guest-name" placeholder="Enter Friend Name"> paid <input type="number" name="bill[guests][][amount_paid]" class="amount-paid" placeholder="Amount">. 
<br>
Should have paid <input type="number" name="bill[guests][][amount_should_have_paid]" class="amount-should-have-paid" placeholder="Amount Should Have Paid">
<br>
<button class="btn btn-primary add-friend">Add Another Friend</button> or <input type="submit" class="btn btn-success" id="add-bill" value="Add Bill">
